<%layout("layouts/boilerplate") -%>
<body>

    <h3 style="text-align: center;">Editing Form</h3>

    <form method ='post' 
    action="/allListing/<%=listing._id%>?_method=PUT" 
    novalidate class="needs-validation"
    enctype="multipart/form-data">
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                    <div class="valid-feedback">Title looks good</div>

                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" cols="50" row ="10" class="form-control" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">please enter valid feedback</div>

                </div>

                <div>
                    Orignial Image
                    <br>
                    <img src="<%=originalImageUrl%>" alt="">
                </div>
            
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" name="listing[image]"  class="form-control">
                </div>
                
                <div class="row ">
                    <div class="col-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                        <div class="invalid-feedback">please enter valid price</div>

                    </div>
                 
                    <div class="col-8 mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">please enter valid country</div>

                    </div> 
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">please enter valid location</div>

                </div>    
            
                <button class="btn btn-dark mb-5 add-btn">Submit</button>
            </div>
        </div>    
    </form>
</body>
</html>